*{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    /* color: #414141 */
}

#test{
    color: red;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
}

/* ____________________________ */
header{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-bottom: solid 1px lightgrey;
    background-color: white;
    transition-duration: 0.5s;
}

img#tde_img{
    width: 90px;
}

div.search_block{
    display: flex;
    align-items: center;
    position: relative;
    scale: 0.75;
    margin-right: -7px;
}

div.select_block{
    position: absolute;
    right: -700px;
    display: flex;
    bottom: 18px;
    transition-duration: 0.5s;
}

select{
    font-size: 13px;
    padding-left: 5px;
    color: rgb(89, 89, 89);
    font-weight: bold;
}

select#months_select{
    margin-left: 5px;
}

div.search_img_container{
    background-color: white;
    z-index: 3;
    /* background-color: red; */
}

img#search_img{
    width: 50px;
}

button#valid_search{
    margin-left: 15px;
    font-weight: bold;
    color: white;
    background-color: rgb(89, 89, 89);
    border: none;
    border-radius: 6px;
    padding: 2px 6px;
}

/* ____________________________ */

div.div_above_layout{
    height: 60px;
}

div.layout{
    background-color: #597d7e;
    margin: 90px 10%;
    box-shadow: 20px 15px 4px #00000066;
    /* min-width: 400px; */
}

div.layout h2{
    background-color: black;
    border: solid black;
    color: white;
    padding: 10px 30px;
    display: inline-block;
    /* border-radius: 0 100px 0 100px; */
    margin-top: -25px;


}

#div_h2{
    text-align: center;
    font-size: 10px;
}

div.layout p{
    font-size: 90%;
    color: white;
    text-align: center;
    margin-top: 0;
}

div.layout .short_line{
    background-color: lightgray;
    height: 2px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

div.layout .tables_layout{
    background-color: rgba(255, 255, 255, 0.678);
    /* display: inline-block; */
    /* padding: 20px; */
    text-align: left;
}


div.tables_layout td, div.tables_layout th{
    /* display: inline-block; */
    margin: 8px 0;
}

div.table_block{
    display: inline-block;
    width: 50%;
    margin-left: 10%;
    font-size: 14px;
    min-width: 200px;
}

div.sharing{
    background-color: rgba(68, 77, 107, 0.993); 
    border-radius: 20px; 
    box-shadow: 20px 15px 5px #00000066;
    padding: 30px 50px;
    color: white;
    margin-left: -25px;
    margin-top: 25px;
}

div.table_block h3{
    /* text-align: center; */
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}

div.table_block td{
    display: inline-block;
    margin-left: 10px;
}

.repart_total{
    color: rgb(198, 232, 104); 
    font-size: 20px;
}

div.note{
    text-align: center; 
    background-color: rgba(16, 48, 54, 0.71); 
    margin: 0;
    padding: 10px 50px 20px 50px;
    border-top-left-radius: 30%;
    font-size: 15px;
    line-height: 1.6;
}

div.note h3{
    color: white;
    background-color: rgba(140, 139, 139, 0.598); 
    border-radius: 10px 0 10px 0; 
    border: solid rgb(151, 151, 151); 
    display: inline-block;
    padding: 3px 35px;
    font-size: 15px;
}

div.note p{
    color: rgb(216, 215, 215);
}



@media only screen and (min-width: 768px) { 

    img#tde_img{
        width: 200px;
    }

    div.search_block{
        scale: 1;
        margin-right: 0;
    }

    select{
        font-size: 14px;
    }

    select#months_select{
        margin-left: 10px;
    }

    button#valid_search{
        margin-left: 15px;
        padding: 4px 10px;
        border-radius: 20px;
    }

    div.div_above_layout{
        height: 180px;
    }

    div.layout{
        background-color: #597d7e;
        margin: 100px 20%;
        min-width: 550px;
    } 
    
    #div_h2{
        font-size: 16px;
    }

    div.tables_layout td, div.tables_layout th{
        margin: 5px 30px;
    }

    div.table_block{
        margin-left: 5%;
        width: 37%;
        font-size: 16px;
    }

    div.sharing{
        margin: 25px 0
    }

    div.table_block h3{
        font-size: 30px;
    }

    .repart_total{
        font-size: 25px;
    }

    div.note{
        border-top-left-radius: 50%;
        font-size: 18px;
    }

    div.note h3{
        font-size: 20px;
        padding: 6px 35px;
    }
}
